Source: openpanel-swupd
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5), libgrace, libgrace-dev
Standards-Version: 3.7.2

Package: openpanel-swupd
Architecture: any
Depends: openpanel-core
Description: OpenPanel module to manage software updated (update checker)
