Source: openpanel-swupd
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), libgrace-dev
Standards-Version: 3.7.2

Package: openpanel-swupd
Architecture: any
Depends: openpanel-core, ${shlibs:Depends}, ${misc:Depends}
Description: OpenPanel module to manage software updated (update checker)
